table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: green;
}

td:nth-child(even), td:nth-child(even){
    background-color: lightgreen;
}
body{
    background-color: chartreuse;
}